<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnswerBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC76F77B1CBA16B100841200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC76F78F1CBA16B100841200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC76F79A1CBA16B100841200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
